.body{
    background-color: #f1f1f1;
}

:root{
    --v2: #8a65cc;
    --v3: #5e30d9;
    /* for sun */
    --v5: #8a65cc;
    --v6: #ff846e;
    --v7: #fea798;
    /* for boxes */
    --v8: #c97667;
    --v9: #f3b8ae;
}

*, *::before, *::after{
    font-family: 'Open Sans', sans-sherif;
}

.white-theme{
    background-color: #f1f1f1;
}

.dark-theme{
    background-color: rgb(19, 17, 17);
    color: #f1f1f1;
}

nav.menu-nav{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

a.menu-title{
    /* border: 1px black solid; */
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: 1vw;
    font-size: 20px;
    padding: 1vw;
    transition: 1s;
    color: black;
}

a.menu-title:hover{
    /* border: 1px rgb(154, 23, 241) solid; */
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    margin: 10px;
    font-size: 22px;
    padding: 10px;
    transition: 1s;
    
}

li.nav-item{
    list-style-type: none;
    text-decoration-style: none;
}

li.nav-item:first-child{
    font-size: 23px;
    padding-right: 25vw;
    top: 1px;
    white-space: nowrap;
    color: black;
}

ul.menu-ul{
    height: 10vh;
    /* background: #CCCCCC; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 50%; */
    left: 0px;
}

div.BG-menu{
    /* background-image: url('img/purpleBG.jpg'); */
    background-image: linear-gradient(var(--v2), var(--v3));
    height: 15vh;
    margin: -8px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(147, 59, 219); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  
#bit {
     /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 90px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(147, 59, 219); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color:rgb(87, 137, 202) /* #555 Add a dark-grey background on hover */
}

#bit:hover {
    background-color: rgb(87, 137, 202); /* Add a dark-grey background on hover */
}

.logo{
    cursor: not-allowed;
    position: absolute;
    top: 2vh;
    left: 28vw;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    overflow: hidden;
    z-index: 99;
}

.logo::before{
    content: "";
    background: url(img/1606229956074.jfif);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.logo::after{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: hsla(200, 100%, 100%, .6);
    bottom: 0;
    left: -50%;
    border-radius: 35%;
    animation: waves 5s ease-in-out alternate infinite;
}

@keyframes waves {
    to{
        transform: translateY(-50%) rotate(540deg);
    }
}

#Gtitle{
    font-size: 100px;
    /* font-weight: 200; */
    display: inline-block;
    /* color: #f1f1f1; */
    position: relative;
    z-index: 1;
    margin-top: 28vh;
    margin-left: 25%;
    white-space: nowrap;
}

#Gtitle::after{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 3px;
    background-color: white;
    right: -15px;
    top: 0;
    animation: cursor 1s infinite;
}

@keyframes cursor {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* ------------------------------------------ Job Objective */

.Job-Objective-Title{
    font-size: 30px;
    text-align: center;
    padding: 15px;
    position: relative;
    top: 40vh;
    /* left: 30vw; */
    vertical-align: center;
}

.Job{
    position: relative;
    top: 40vh;
    margin: auto;
    width: 30vw;
    height: auto; /*24vh*/
    border-radius:3%;
    padding: 5px;
    background-image: linear-gradient(var(--v5), var(--v6), var(--v7));
    
}

.Job-Objective{
    /* margin: auto; */
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}


/* ------------------------------------------- Experiences */
#experience-timeline {
    /* margin-top: 1000px; */
    width: 99%;
    height: 80vh;
    /* background: #f1f1f1; */
    position: absolute;
    padding: 80px 0 250px 0;
}

#experience-timeline h1{
    position: relative;
    margin: auto;
    text-align: center;
    flex-wrap: nowrap;
    vertical-align: middle;
}

.ligne {
    min-height: 320px;
    height: auto;
    width: 8px;
    /* transform: translate(-50%); */
    left: auto;
    margin: auto;
    margin-top: 8vh;
    background: #333;
    /* position: absolute; */
    align-items: center;
    align-content: space-around; 
    display: flex;
    justify-content: center;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
    /* left: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.r1{top: 25vh;}
.r2{top: 70vh;}

.box {
    /* top: 100px; */
    color: #333;
    cursor: crosshair;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background-image: linear-gradient(64deg, var(--v8), var(--v9));
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 25vh;
    left: calc(50% - 270px);
}
.b2 {
    top: 70vh;
    left: calc(50% + 270px);
}


.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
}


/* @media screen and (max-width: 1000px) {

    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px)
    }

} */

/*----------------------------------- EDUCATION */
#education-timeline{
    top: 600vh;
    width: 99%;
    height: 80vh;
    /* background: #f1f1f1; */
    position: absolute;
    padding: 80px 0 250px 0;
}

.education-dark{
    background-image: linear-gradient(var(--v2), var(--v3));
}

#education-timeline h1{
    position: relative;
    margin: auto;
    text-align: center;
    flex-wrap: nowrap;
    vertical-align: middle;
}

/* -------------------------------- SKILLS */

#Skills{
    /* background-color: #f1f1f1; */
    /* padding: 10px; */
    width: auto;
    left: 0vw;
}

#Skills h1:first-child{
    margin-top: 40vh;
    text-align: center;
}

#Skills h1{
    text-align: center;
}


.container{
    width: 60%;
    margin: 20px auto;
    margin-bottom: 200px;
}

.progress{
    width: 100%;
    height: 18px;
    background-color: gray;
    border-radius: 10px;
}

.progress-bar{
    width: 0%;
    opacity: 0;
    height: 100%;
    background-image: linear-gradient(var(--v5), var(--v6), var(--v7));
    border-radius: 10px;
    position: relative;
    transition: all 2s;
}

.progress-bar span{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
}

.container p{
    margin-top: 3vh;
}
/* ---------------------------------------  PROJECTS */
h1#Projects{
    text-align: center;
}

.projetDv{
    display: flex;
    align-items: center;
}

.projetBox{
    display: flex;
    align-items: center;
}

.projetBox li{
    margin-right: 100px;
    list-style-type: none;
    align-content: center;
    width: 400px;
    text-align: center;
}

.projetBox li:last-child{
    margin-right: 100px;
    list-style-type: none;
    align-content: center;
    width: 300px;
    text-align: center;
}
/* ---------------------------------------   HOBBIES */

.hobbiesDv{
    display: flex;
    align-items: center;
}

.hobbiesBox{
    display: flex;
    align-items: center;
}

.hobbiesBox li{
    margin-right: 100px;
    list-style-type: none;
    align-content: center;
    width: 400px;
    text-align: center;
}

.hobbiesBox li:first-child{
    margin-right: 100px;
    list-style-type: none;
    align-content: center;
    width: 400px;
    text-align: center;
    margin-left: 15vw;
}
/* --------------------------------------- REFERENCES */ 

.references{
    display: flex;
    align-items: center;
}

h1#References{
    text-align: center;
    top: 15vh;
    position: relative;
}

.box-referent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.prof{
    width: 30%;
    height: 30vh;
    align-items: center;
    position: relative;
    margin-right: 10%;
    
}
/* ----------------------------------------- FOOTER */

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
.footer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 400px;
}



/* Sticky footer style and color
-------------------------------------------------- */
footer {
  /* padding-top: 30px; */
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    /* padding: 0.7em 1em; */
}

.logo-reseau{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

.logo-reseau li{
    margin-right: 100px;
}

#DownloadLink{
   white-space: nowrap; 
   transition: 1s;  
}

#DownloadLink:hover{
    white-space: nowrap;
    cursor:copy;
    transition: 1s; 
 } 

#credit-name{
    white-space: nowrap;
}